<h1>Editing channel</h1>

<%= form_for :channel, url: channel_path(@channel), method: :patch do |f| %>

  <% if @channel.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@channel.errors.count, "error") %> prohibited
        this channel from being saved:
      </h2>
      <ul>
        <% @channel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Back', channels_path %>
