<h1>New post for Channl[<%= @channel.title %>]</h1>

<%= form_for([@channel, @post]) do |f| %>
  <p>
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
